<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxgc.news_app.core.mapper.news_mapper.NewsIndexDao">

    <resultMap id="newsBean" type="news">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="type" column="news_type_id"/>
        <result property="accessCount" column="access_count"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!--查询所有新闻类型-->
    <select id="selectNewsType" resultType="String">
        SELECT type_name from news_type;
    </select>

    <!--查询最新的新闻-->
    <select id="selectNewsList" resultMap="newsBean">
        SELECT * from news order by create_time desc LIMIT 30;
    </select>


</mapper>